extends _layout
block content
  .search-back(style="background-image: url(../img/404back.jpg)")
    .search-cover
    .search-text
      .container
        .row.text-center
          h1.landing-heading
            .landing-bold 404
            | : Not Found
          p.landing
            | We can't seem to find the page you're looking for.
            | It may have been moved, or have never existed in the first place.<br/>
            | It could also be trapped in a time warp and will be here soon.
