nav.navbar.navbar-default.navbar-fixed-top
  .container
    .row
      .col-md-12
        .navbar-header
          a.navbar-brand(href='https://lapis.blue').active
            img.sponge-logo(src='img/lapis.png')
          button.navbar-toggle.collapsed(data-toggle='collapse', data-target='#navbar-collapse')
            i.fa.fa-bars
        .collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='https://docs.lapis.blue')
                i.fa.fa-fw.fa-book
                |  Docs
            li
              a(href='https://jd.lapis.blue')
                i.fa.fa-fw.fa-folder-open
                |  Javadocs
            li
              a(href='https://git.io/lapis')
                i.fa.fa-fw.fa-github
                |  Code
            li
              a(href='https://ci.lapis.blue')
                i.fa.fa-fw.fa-tasks
                |  CI
