extends _layout
block content
  .search-back
    .search-cover
    .search-text
      .container
        .row.text-center
          h1.landing-heading
            .landing-bold Lapis
            | : Community-driven advancement for a better Sponge
          p.landing 
            | We're a group of Minecraft modders excited about the future of Sponge and Minecraft modding.<br><br>
            | We're building a variety of toolkits, mods, plugins, and libraries<br> to discourage code duplication and encourage modularity and growth.

  .container.project-list
    .row
      .col-md-12.text-center
        h1.page-header Projects
    .row.proj-row
      .col-md-6
        i.fa.fa-wrench.fa-fw.pull-left.fa-3x.project-icon
        h2.project-header Commons
        p
          |  A central toolkit for plugin developers.
      .col-md-6
        i.fa.fa-users.fa-fw.pull-left.fa-3x.project-icon
        h2 Permissions
        p
          | All about permissions.
    .row.proj-row
      .col-md-6
        i.fa.fa-database.fa-fw.pull-left.fa-3x.project-icon
        h2 Persistence
        p
          | Persist your data.
      .col-md-6
        i.fa.fa-terminal.fa-fw.pull-left.fa-3x.project-icon
        h2 Commands
        p
          | A consistent commands API.
    .row.proj-row
      .col-md-6
        i.fa.fa-usd.fa-fw.pull-left.fa-3x.project-icon
        h2 Economy
        p
          | Manage a bustling economy.
      .col-md-6
        i.fa.fa-comments-o.fa-fw.pull-left.fa-3x.project-icon
        h2 Chat
        p
          | Manage players talking with each other.