extends _layout
block content
  .search-back
    .search-cover
    .search-text
      .container
        .row.text-center
          h1 Search Projects
          br
          .input-group.col-md-6.col-md-offset-3
            input.form-control(type='text')
            .input-group-btn
              button.btn.btn-primary
                fa.fa.fa-search.fa-fw
                | Search
          h3
            a(href='advanced-search.html') Advanced Search
  .container
    .row
      .col-md-12
        .panel.panel-default.slider
          .panel-heading Recent
          .panel-body
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/mcmmo.jpg)')
              .thumbnail-cover
              .caption.inlaid
                h3 McMMO
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Sponge
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/essentials.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Essentials
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 A really Long Name here
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/mcmmo.jpg)')
              .thumbnail-cover
              .caption.inlaid
                h3 McMMO
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Sponge
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/essentials.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Essentials
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 A really Long Name here
  .container
    .row
      .col-md-12
        .panel.panel-default.slider
          .panel-heading Trending
          .panel-body
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/mcmmo.jpg)')
              .thumbnail-cover
              .caption.inlaid
                h3 McMMO
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Sponge
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/essentials.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Essentials
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 A really Long Name here
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/mcmmo.jpg)')
              .thumbnail-cover
              .caption.inlaid
                h3 McMMO
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Sponge
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/essentials.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Essentials
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 A really Long Name here
  .container
    .row
      .col-md-12
        .panel.panel-default.slider
          .panel-heading Popular
          .panel-body
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/mcmmo.jpg)')
              .thumbnail-cover
              .caption.inlaid
                h3 McMMO
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Sponge
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/essentials.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Essentials
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 A really Long Name here
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/mcmmo.jpg)')
              .thumbnail-cover
              .caption.inlaid
                h3 McMMO
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Sponge
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/essentials.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 Essentials
            a.thumbnail.package(href='plugin.html')
              .img(style='background-image: url(img/sponge-cover.png)')
              .thumbnail-cover
              .caption.inlaid
                h3 A really Long Name here
