extends _layout
block content
  .search-back
    .search-cover
    .search-text
      .container
        .row.text-center
          h1.landing-heading
            .landing-bold Lapis
            | : Community-driven advancement for a better Sponge
          p.landing 
            | We're a group of Minecraft modders excited about the future of Sponge and Minecraft modding.<br><br>
            | We're building a variety of toolkits, mods, plugins, and libraries<br> to discourage code duplication and encourage modularity and growth.

  .container.project-list
    .row
      .col-md-12.text-center
        h1.page-header Projects
    .row.proj-row
      .col-md-6
        i.fa.fa-wrench.fa-fw.pull-left.fa-3x.project-icon
        h2.project-header Commons
        p
          | Do more with less code using the Lapis Commons toolkit.
      .col-md-6
        i.fa.fa-users.fa-fw.pull-left.fa-3x.project-icon
        h2 Permissions
        p
          | Elegantly and easily assign permissions to players on your server.
    .row.proj-row
      .col-md-6
        i.fa.fa-database.fa-fw.pull-left.fa-3x.project-icon
        h2 Persistence
        p
          | Persist plugin data across server restarts quickly and easily.
      .col-md-6
        i.fa.fa-terminal.fa-fw.pull-left.fa-3x.project-icon
        h2 Commands
        p
          | Add new commands with very little code and a single class.
    .row.proj-row
      .col-md-6
        i.fa.fa-usd.fa-fw.pull-left.fa-3x.project-icon
        h2 Economy
        p
          | Easily manage a large economy with multiple currencies.
      .col-md-6
        i.fa.fa-comments-o.fa-fw.pull-left.fa-3x.project-icon
        h2 Chat
        p
          | Make your chat look how you want it, and easily send PMs.
    .row.proj-row
      .col-md-6
        i.fa.fa-file-code-o.fa-fw.pull-left.fa-3x.project-icon
        h2 Scripting
        p
          | Extend your server easily with Lua or JavaScript.
      .col-md-6
        i.fa.fa-plug.fa-fw.pull-left.fa-3x.project-icon
        h2 Pore
        p
          | Run existing Bukkit plugins on Sponge natively.
