extends _layout
block content
  .search-back
    .search-cover
    .search-text
      .container
        .row.text-center
          h1.landing-heading
            .landing-bold Lapis
            | : Community-driven advancement for Minecraft modding
          p.landing
            | We're a group of Minecraft modders excited about the future of Sponge and Minecraft modding.<br><br>
            | We're building a variety of toolkits, mods, plugins, and libraries<br> to discourage code duplication and encourage modularity and growth.

  .container
    .row
      .col-md-12.text-center
        h1.page-header Projects
    .row.proj-row
      .col-md-6
        i.fa.fa-chain-broken.fa-fw.pull-left.fa-3x.project-icon
        a(href='https://docs.lapis.blue/pore/')
          h2 Pore
        p
          | Run existing Bukkit plugins on Sponge natively.
      .col-md-6
        i.fa.fa-arrows-h.fa-fw.pull-left.fa-3x.project-icon
        a(href='https://github.com/LapisBlue/MethodRemapper')
          h2 MethodRemapper
        p
          | A Gradle plugin with Java API to remap method names during the build
      .col-md-6
        i.fa.fa-arrows-h.fa-fw.pull-left.fa-3x.project-icon
        a(href='https://github.com/LapisBlue/Nocturne')
          h2 Nocturne
        p
          | A graphical tool for creation of Java deobfuscation mappings

  .container.inactive-project-list
    .row
      .col-md-12.text-center
        h1.page-header Previous projects
    .row.proj-row
      .col-md-6
        i.fa.fa-wrench.fa-fw.pull-left.fa-3x.project-icon
        a(href='https://docs.lapis.blue/commons/')
          h2.project-header Commons
        p
          | Do more with less code using the Lapis Commons toolkit.
      .col-md-6
        i.fa.fa-image.fa-fw.pull-left.fa-3x.project-icon
        a(href='https://github.com/LapisBlue/Lapitar')
          h2 Lapitar
        p
          | A new open source Minecraft avatar service with a simple API

