extends _layout
block content
  .striped
    .container
      .row.plugin-box
        .col-md-10.col-md-offset-1
          .btn-group.pull-right
            .btn.btn-success
              i.fa.fa-download
              |  Latest 
              span.badge MC 1.7.10
            .btn.btn-warning
              i.fa.fa-wrench
              |  Dev 
              span.badge MC 1.8.4
            .btn.btn-primary
              i.fa.fa-cog
          h1
            a(href='') some-dev
            |  / McMMO
          p
            | Expands core Minecraft game mechanics into an extensive and quality RPG experience.
